
*.bak
/AudioAnalysis/.spyproject/config
/AudioAnalysis/__pycache__
/AudioClusteringInteractive/.spyproject
/AudioClusteringInteractive/__pycache__
/AudioClusteringV2/.spyproject
/AudioClusteringV2/__pycache__
/MocapPlayer/.spyproject
/MocapPlayer/__pycache__
/MocapPlayer/common/__pycache__
/MotionClusteringInteractive/.spyproject/config
/MotionClusteringInteractive/__pycache__
/MotionClusteringInteractive/common/__pycache__
/MotionContinuation/rnn/.spyproject
/MotionContinuation/rnn/common/__pycache__
/MotionContinuation/rnn_interactive/.spyproject
/MotionContinuation/rnn_interactive/__pycache__
/MotionContinuation/rnn_interactive/common/__pycache__
/MotionTransformation/vae-rnn/.spyproject
/MotionTransformation/vae-rnn/common/__pycache__
/MotionTransformation/vae-rnn_interactive/.spyproject
/MotionTransformation/vae-rnn_interactive/__pycache__
/MotionTransformation/vae-rnn_interactive/common/__pycache__
